@import url(https://fonts.googleapis.com/css?family=Lato:400,900,700,300|Montserrat:400,700);

body {
  font-family: Lato, Helvetica, Arial, sans-serif;
}

/**
 ** Tag Styles
 ***************************/
body {
  background: #e0e0e0;
  font-family: lato;
  margin: 0;
  padding: 0;
}
header {
  box-shadow: 0 2px 5px rgba(0,0,0, .5);
  background: #175abe;
  color: #fff;
  padding: 20px 20px 15px;
  overflow: hidden;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 999;
}
header svg {
  height: 4.5em;
  float: left;
  fill: #fff;
}
header h1 {
  overflow: visible;
  font-family: Montserrat;
  font-size: 3em;
  font-weight: 400;
  padding: 0;
  margin: 0;
  text-shadow: 0 -1px 0px rgba(0,0,0, .5);
}
header h2 {
  margin: 0;
  text-shadow: 0 -1px 0px rgba(0,0,0, .35);
}
.main {
  padding: 0;
}
nav {
  margin: 0px;
  padding: 0 0 0 10px;
  width: 100%;
  overflow: hidden;
  background: #fff;
}
nav ul {
  list-style-type: none;
  padding: 0;
}
nav ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
nav ul li a {
  padding: 5px 10px;
  background: #fff;
  border-radius: 3px;
  text-decoration: none;
  color: #175abe;
}
nav ul li a:hover {
  background: #175abe;
  color: #fff;
}
form {
  background: #fff;
  padding: 10px;
  margin: 8px 0;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0,0,0,.25);
}

label {
  font-weight: 700;
  float: none;
  margin: 10px 0 0;
  display: block;
  width: 150px;
}
input, textarea {
  padding: 10px 10px;
  width: calc(100% - 200px);
  border-radius: 3px;
  border: 0px solid;
  font-size: 1.2em;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.25), inset 0 -1px 5px rgba(0,0,0,.1);
}
/**
 ** Class Styles
 ***************************/

.button-spacer {
  margin: 10px 0;
  width: 100%;
  overflow: hidden;
}
.button-spacer button {
  font-size: 1.5em;
  font-weight: 700;
  font-family: Montserrat;
  background: #eee;
  border-radius: 3px;
  border: 0px solid;
  padding: 5px 14px;
  display: block;
  float: left;
}
.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
.item-menu {
  list-style-type: none;
  background: #fafafa;
  box-shadow: 0 1px 2px rgba(0,0,0,.25);
  width: 25%;
  position: absolute;
  top: 25px;
  right: 5px;
  padding: 0;
}
.item-menu li {
  cursor: pointer;
  margin: 0px;
  padding: 10px 0px;
  text-align: center;
  width: 100%;
}
.item-menu li:hover {
  background: #f0f0f0;
}
.title-box {
  overflow: visible;
  padding: 0px 10px;
  margin: -10px 0 0 0;
  float: left;
}
.active {
  background: #175abe;
  color: #fff;
}
