/* Component Stylesheet
============================================================
============================================================*/

/* Section
===========================*/
ul {
  padding: 100px 20.526316%;
  list-style-type: none;
  text-align: center;
}

/* Figure
===========================*/
ul li {
  position: relative;
  display: block;
  float: left;
  width: 25%;
  min-width: 150px;
}
ul li p {
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: 1.25em;
  color: #48494a;
  letter-spacing: 0px;
  line-height: 1.2;
}
ul li p:nth-child(2) {
  bottom: 55px;
  font-family: 'Playfair Display', serif;
  color: #b8b8b8;
  font-size: 2.5em;
  font-weight: bold;
  position: absolute;
  width: 100%;
}
svg {
  width: 150px;
  height: 150px;
  display: block;
  margin: 20px auto 0;
}
ul li svg circle {
  fill: transparent;
  stroke: #e0e0e0;
  stroke-width: 6;
  stroke-dasharray: 534;
  cx: 75px;
  cy: 75px;
  r: 65px;
}
ul li svg circle:nth-child(2) {
  fill: transparent;;
  stroke: #333;
  stroke-width: 6;
  stroke-dasharray: 534;
  cx: 75px;
  cy: 75px;
  r: 65px;
}
[data-percent='69'] svg circle:nth-child(2) {
  stroke-dashoffset: 282;
}

[data-percent='75'] svg circle:nth-child(2) {
  stroke-dashoffset: 230;
}

[data-percent='50'] svg circle:nth-child(2) {
  stroke-dashoffset: 331;
}
[data-percent='98'] svg circle:nth-child(2) {
  stroke-dashoffset: 155;
}
