<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

  <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,500,700,900' rel='stylesheet' type='text/css'>

</head>
<body>

	<!-- Component -->

  <header>
    <p><strong>Bus</strong> and <strong>coach hire</strong></p>

    <nav>
      <ul>
        <li><a href="#" class="active">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Our Coaches</a></li>
        <li><a href="#">Contacts</a></li>
      </ul>
    </nav>
  </header>

  <section>
    <div class="container">
      <article>
        <h2 class="blue-heading"><strong>Reliable and professional</strong><br> Transportation provider</h2>
        <img src="img/page-1_img01.jpg" alt="Large, Comfortable seats">
      </article>
    </div>
  </section>

  <section>
    <div class="container">
      <article>
        <img src="" alt="Modern, Double Decker Bus">
        <h3>Offering Great Expertise<br> In all your land transport needs</h3>
        <p>We are the leading transportation company, offering bus and coach hire services to schools, businesses and the general public. For more than 80 years, we have focused on providing the best bus charter and hire services that allow people to explore the country in comfort and style.</p>
      </article>

      <article>
        <ol>
          <li>
            <h3><strong>Coach hire</strong> Services</h3>
            <p>We have a bus fleet of 50 large and small coaches at our disposal, ranging from 12, 14, 18, 24, 33 & 50 seater coaches. Our bus fleet size means that we are in a position to handle all transport requirements, from short trip training seasons to long distance weekends away.</p>
          </li>
          <li>
            <h3><strong>Coaches</strong> Reliability</h3>
            <p>We understand the need for reliability and punctuality to all organisers. We ensure that our coaches arrive at your destinations on time, whether it be for the start of a match or to catch a flight.</p>
          </li>
          <li>
            <h3><strong>Competitive</strong> Pricing</h3>
            <p>Due to the large size of our bus fleet and the high volume of work that the company undertakes on an ongoing basis we are able to price all our bus hire quotations very keenly.</p>
          </li>
        </ol>
      </article>
    </div>
  </section>

  <section>
    <div class="container">
      <article>
        <h2 class="blue-heading"><strong>Spend an unforgettable</strong> time with comfort!</h2>
        <img src="" alt="Company trips in modern comfort">
        <h3><strong>Explore your favorite destination</strong> with style and comfort!</h3>
        <p>Our staff is on hand with a friendly and professional service for hiring coaches for any event. We have years of experience, built on offering our customers a courteous and professional service regarding all aspects of coach hire. Together with our coach partners we can offer a large fleet of modern coaches suitable for all occasions.</p>
      </article>
      <article>
        <h3><strong>We Manage All The Aspects Of</strong>Coach Hire For Your Satisfaction</h3>
        <img src="" alt="modern coach style bus">
      </article>
    </div>
  </section>

  <section>
    <div class="container">
      <article>
        <h3><strong>We specialise in bus,</strong> coach &amp; minibus hire</h3>
        <ul>
          <li>Conferences coach hire &amp; logistics</li>
          <li>College bus hire for outings &amp; day trips</li>
          <li>Coach pick up at Airport &amp; Railway stations</li>
          <li>Corporate Golf Days</li>
          <li>College department coach hire for class trips</li>
          <li>Executive coach hire for incentive trips</li>
          <li>City bus tours</li>
          <li>Coach hire for corporate travel</li>
          <li>Weddings</li>
          <li>Luxury coach hire</li>
          <li>Concert bus hire</li>
        </ul>
        <ul>
          <li>
            <p><strong>Bus</strong> Hire</p>
            <a href="">Read More</a>
          </li>
          <li>
            <p><strong>Tours</strong> &amp; Itineraries</p>
            <a href="">Read More</a>
          </li>
          <li>
            <p><strong>School</strong> Trip</p>
            <a href="">Read More</a>
          </li>
        </ul>
      </article>
    </div>
  </section>

  <footer>
    <div>
      <p><a href="callto:#">80023456789</a></p>
      <address>Glasgow D04 89GR</address>
      <ul>
        <li><a href="" alt="Facebook"></a></li>
        <li><a href="" alt="Twitter"></a></li>
        <li><a href="" alt="Google+"></a></li>
      </ul>
      <p>Bus and Coach Hire © 2015. <a href="">Privacy Policy</a></p>
      <div class="map">

      </div>
    </div>
  </footer>

	<!-- End Component -->

</body>
</html>
