-<!DOCTYPE html>
 -<html>
 -<head>
 -  <title>WSP Component: Firstname Lastname</title>
 -
 -  <link rel="stylesheet" type="text/css" href="../../css/reset.css" />
 -  <link rel="stylesheet" type="text/css" href="component.css" />
 -
 -<!-- Linking typeface -->
 -  <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
 -</head>
 -<body>
 -
 -  <a class="return-button" href="../../index.html"><span>&lt;</span>Return Home</a>
 -
 -  <!-- Component -->
 -  <nav>
 -    <ul>
 -      <li class="active">Top Products
 -        <ul>
 -          <li><a href="#"><span class="icon icon-wordpress"></span>WordPress Themes</a></li>
 -          <li><a href="#"><span class="icon icon-websites"></span>Website Templates</a></li>
 -          <li><a href="#"><span class="icon icon-joomla"></span>Joomla Templates</a></li>
 -          <li><a href="#"><span class="icon icon-prestaShop"></span>PrestaShop Themes</a></li>
 -          <li><a href="#"><span class="icon icon-magento"></span>Magento Themes</a></li>
 -          <li><a href="#"><span class="icon icon-openCart"></span>OpenCart Templates</a></li>
 -          <li><a href="#"><span class="icon icon-moto-cms"></span>Moto CMS Templates</a></li>
 -        </ul>
 -      </li>
 -      <li>Categories</li>
 -      <li>Web Templates</li>
 -      <li>CMS Templates</li>
 -      <li>E-commerce Templates</li>
 -      <li>Flash &amp; Media</li>
 -    </ul>
 -  </nav>
 -  <!-- End Component -->
 -
 -</body>
 -</html>
