/* Component Stylesheet
============================================================
============================================================*/


/* Nav Classes
=============================*/

nav {
  font-family: 'PT Sans', sans-serif;
  width: 1080px;
  position: relative;
  margin: 100px auto;
  color: #fff;
}
nav > ul {
  list-style-type: none;
  width: 100%;
  overflow: vis;
}
nav > ul > li {
  width: 16%;
  text-align: center;
  font-weight: 700;
  border-radius: 5px 5px 0 0;
  padding: 10px;
  border-right: 1px #817c79 solid;
  background-color: #5e5652;
}
nav > ul > li:hover{
  background-color: #fff;
  color: #5e5652;
  box-shadow: 0 -3px 23px 1px rgba(0,0,0,0.1);
  border-right: 1px solid #d3d3d3;
  border-left: 1px solid #d3d3d3;

}
nav > ul > li:nth-child(5) {
  width: 20%;
}
ul li {
  display: inline-block;
  float: left;
}
ul li a {
  cursor: pointer;
}

/* Sub-Nav Classes
=============================*/

nav > ul > li:first-child {
  background-color: #fff;
  color: #5e5652;
  box-shadow: 0 -3px 23px 1px rgba(0,0,0,0.1);
  border-right: 1px solid #d3d3d3;
  border-left: 1px solid #d3d3d3;
  padding-bottom: 0px;
}
nav > ul > li:first-child:before {
  background: url(img/best-sellers-badge.png) left top no-repeat;
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  border: 0;
  height: 25px;
  width: 25px;
}
nav > ul > li:first-child ul {
  background-color: #fff;
  border-right: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  margin: 10px -10px 0px;
  overflow: auto;
  padding: 0 0 0 39px;
  width: 1079px;
}
nav > ul > li:first-child ul li {
  width: 137px;

  overflow: hidden;
  padding: 14px 20px 17px 19px;
}
nav > ul > li:first-child ul li a{
  font-size: 0.875em;
  padding-left: 30px;
  line-height: 14px;
  text-align: left;
  position: relative;
  color: #5e5652;
  display: inline-block;
}
/* Sprite Classes
=============================*/
.icon {
  background-image: url('img/sprite.svg');
  background-size: 157px 1000px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  clear: none;
  display: block;
  font-size: 19px;
  height: 25px;
  line-height: 14px;
  left: 0;
  margin: 2px 3px 10px;
  padding: 0;
  position: absolute;
  width: 25px;
}
.icon-wordpress {
  background-color: #464646;
  background-position: -67px -98px;
  border-color: #464646;
}
.icon-websites {
  background-color: #fc3026;
  background-position: -67px -942px;
  border-color: #fc3026;
}
.icon-joomla {
  background-color: #fc8c2c;
  background-position: -4px -973px;
  border-color: #fc8c2c;
}
.icon-prestaShop {
  background-color: #9fdae7;
  background-position: -35px -160px;
  border-color: #9fdae7;
}
.icon-magento {
  background-color: #ef5829;
  background-position: -67px -973px;
  border-color: #ef5829;
}
.icon-openCart {
  background-color: #31c7f3;
  background-position: -4px -192px;
  border-color: #31c7f3;
}
.icon-moto-cms {
  background-color: #f27321;
  background-position: -35px -879px;
  border-color: #f27321;
}
