<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

</head>
<body>

  <!-- Component -->
  <div class="container">
    <main>
      <section>
        <article>
          <h3>Parents,<br>join for FREE!</h3>
          <p>
            Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt.
          </p>

          <a href="">Read More</a>
        </article>

        <article>
          <h3>Find<br>a babysitter</h3>
          <p>
            Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt.
          </p>

          <a href="">Read More</a>
        </article>

        <article>
          <h3>Parenting advice</h3>
          <p>
            Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt.
          </p>

          <a href="">Read More</a>
        </article>
      </section>

      <section>
        <h2>Nationwide babysitter database</h2>

        <ul>
          <li>
            <span></span>
            <h3>Sed do eiusmod</h3>
            <p>
              Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
            </p>
          </li>
          <li>
            <span></span>
            <h3>Ctetur adipisicing</h3>
            <p>
              Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
            </p>
          </li>
          <li>
            <span></span>
            <h3>Lorem ipsum</h3>
            <p>
              Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
            </p>
          </li>
          <li>
            <span></span>
            <h3>Eiusmod tempor</h3>
            <p>
              Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
            </p>
          </li>
          <li>
            <span></span>
            <h3>Sit amet conse</h3>
            <p>
              Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
            </p>
          </li>
            <span></span>
            <h3>Incididunt ut labor</h3>
            <p>
              Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
            </p>
          </li>
        </ul>
      </section>
    </main>

    <aside>

    </aside>
  </div>
  <!-- End Component -->

</body>
</html>
