/* Component Stylesheet
============================================================
============================================================*/

/* Fontface definition
==============================*/
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500,700);
@font-face {
    font-family: myicons;
    src: url('');
}

/* Global Styles
==============================*/
body {
  font: normal 16px Ubuntu, sans-serif;
  color: #978776;
}

h2 {
  margin: 20px 0 10px 10px;
  font-size: 1.275em;
  color: #877561;
}

/* Content List Styles
==============================*/
section {
  width: 66.66666%;
}
section ul {
  list-style-type: none;
}

section ul li {
  display: inline-block;
  width: 49.7122%;
  position: relative;
  box-sizing: border-box;
  margin: 0;
}
section ul li span {
  background-color: #abcc26;
  border-radius: 50px;
  width: 79px;
  height: 79px;
  position: absolute;
  top: 0;
  left: 00px;
  margin: 0;
}
section ul li span::before {
  content: '\e008';
}
section ul li h3 {
  color: #fd8505;
  width: 68%;
  float: right;
  margin: 0;
  font-size: 1.125em;
}

section ul li p {
  width: 68%;
  float: right;
}
/* Class styles
==============================*/

.container {
  padding: 20px;
  width: 100%;
  max-width: 1180px;
}
