<!DOCTYPE html>
<html>
<head>
  <title>WSP Component: Firstname Lastname</title>

  <link rel="stylesheet" type="text/css" href="../../css/reset.css" />
  <link rel="stylesheet" type="text/css" href="component.css" />

  <!--  -->
  <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700' rel='stylesheet' type='text/css'>

</head>
  <body>

      <!-- Component -->
    <section>

      <figure class="stat" data-percent="69">
        <p>IMPRESSIVE WORKS</p>
        <p>69%</p>
        <svg width="150" height="150">
          <circle class="outline" cx="75" cy="75" r="65" transform="rotate(-90, 75, 75)"/>
          <circle class="percent" cx="75" cy="75" r="65" transform="rotate(-90, 75, 75)"/>
        </svg>
      </figure>

      <figure class="stat" data-percent="75">
        <p>WEDDING PHOTOGRAPHY</p>
        <p>75%</p>
        <svg width="150" height="150">
          <circle class="outline" cx="75" cy="75" r="65" transform="rotate(-90, 75, 75)"/>
          <circle class="percent" cx="75" cy="75" r="65" transform="rotate(-90, 75, 75)"/>
        </svg>
      </figure>

      <figure class="stat" data-percent="50">
        <p>AN ADVERTISING PHOTO</p>
        <p>50%</p>
        <svg width="150" height="150">
          <circle class="outline" cx="75" cy="75" r="65" transform="rotate(-90, 75, 75)"/>
          <circle class="percent" cx="75" cy="75" r="65" transform="rotate(-90, 75, 75)"/>
        </svg>
      </figure>

      <figure class="stat" data-percent="98">
        <p>PORTRAIT PHOTOSHOOTS</p>
        <p>98%</p>
        <svg width="150" height="150">
          <circle class="outline" cx="75" cy="75" r="65" transform="rotate(-90, 75, 75)"/>
          <circle class="percent" cx="75" cy="75" r="65" transform="rotate(-90, 75, 75)"/>
        </svg>
      </figure>

    </section>

      <!-- End Component -->

  <script language="javascript" type="text/javascript" src="component.js"></script>
  </body>
</html>
