<!DOCTYPE html>
<html>
<head>
  <title>Listr - Omni Edition</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <script type="text/javascript" src="js/angular.js"></script>
  <script type="text/javascript" src="js/angular-route.js"></script>

  <script type="text/javascript" src="js/app.js"></script>

  <link rel="stylesheet" type="text/css" href="css/app.css">
  <link rel="stylesheet" type="text/css" href="css/groceryList.css">
  <link rel="stylesheet" type="text/css" href="css/toDoList.css">
  <link rel="stylesheet" type="text/css" href="css/contactList.css">

</head>
<body ng-app="listrOmniApp" ng-controller="listrOmniController">

  <header>

    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 62 68">
      <title>listr-omni-logo</title>
      <path d="M30,5H0A5,5,0,0,1,5,0H30V5Zm0,2H0v5H30V7Zm0,7H0v5H30V14Zm0,7H0v5H30V21Zm0,7H15v5H30V28ZM62,5a5,5,0,0,0-5-5H32V33H62V5Zm0,58V35H32V68H57A5,5,0,0,0,62,63ZM30,35H0V63a5,5,0,0,0,5,5H30V35Z"/>
    </svg>

    <div class="title-box">
      <h1>Listr</h1>
      <h2>Omni Ed.</h2>
    </div>

  </header>

  <main>

    <nav>
      <ul>
        <li ng-click="tab('/groceryList')"><a href="#/groceryList" ng-class="{'active': tabName === '/groceryList'}">Groceries</a></li>
        <li ng-click="tab('/toDoList')"><a href="#/toDoList" ng-class="{'active': tabName === '/toDoList'}">To Do</a></li>
        <li ng-click="tab('/contactList')"><a href="#/contactList" ng-class="{'active': tabName === '/contactList'}">Contacts</a></li>
      </ul>
    </nav>

    <div ng-view></div>

  </main>

</body>
</html>
