/* Mobile first queries */
body {
  background: #1f1f1f;
  font-family: "Lato", sans-serif;
  color: #d0d0d0;
  margin: 0px;
}
.container {
  width: 100%
}
a {
  text-decoration: none;
}
header {
  margin: 0px;
  overflow: auto;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Maven Pro", sans-serif;
  font-weight: 900;
  padding: 0px 3%;
}
header img.site-logo {
  border-radius: 0px 0px 5px 5px;
  width: 25%;
  float: left;
  clear: none;
}
header h1, header h2 {
  clear: none;
  margin: 5px 10px;
  float: left;
}
header h1 {
  font-size: 3.5em;
  clear: right;
  width: 60%;
}
header h2 {
  font-size: 1.5em;
  float: left;
  clear: right;
}
section {
  margin: 20px 0px;
}
section h3 {
  font-size: 3em;
}
aside h4 {
  padding: 5px 10px;
  background: #3c3c3c;
}
aside ul {
  list-style-type: none;
  margin: 0px 10px;
}
aside ul li a {
  padding: 5px 10px;
  display: block;
}
.main-content {
  padding: 20px;
  border-radius: 2px;
  background: #3c3c3c;
  box-shadow: ;
}
.navigation {
  float: left;
  clear: both;
  list-style-type: none;
  margin: 10px 0px;
  padding: 5px 0px;
  width: 100%;
  background: #050505;
  border-radius: 3px;
  box-shadow: 0px 2px 3px rgba(0,0,0,.25), inset 0px 30px 60px -15px rgba(255,255,255,.1);
}
.navigation li {
  display: inline-flex;
  padding: 0px;
  width: 32.6%;
}
.navigation li a {
  display: inline-block;
  color: #d5d5d5;
  margin: 0px 1%;
  width: 100%;
  height: inherit;
  padding: 5px 0px;
  text-align: center;
}
.navigation li a:hover {
  color: #eeffaa;
}
/* Gallery page styles*/
section img{
  background: #3c3c3c;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 2px;
}
/* Episode Page Styles */
table {
  border-radius: 2px;
  font-size: .5em;
}
table tr:nth-child(even) {
  background: #5c5c5c;
}
table th, table td {
  border: 0px solid;
  padding: 10px;
  text-align: center;
  width: 30%;
}
table thead {
  border: none;
  background: #101010;
}

/* Larger than mobile */
@media (min-width: 535px) {
  .container {
    width: 90%;
  }
  h1, h2, h3, h4, h5, h6 {
    padding: 0px;
  }
  header img.site-logo {
    border-radius: 0px 0px 5px 5px;
    width: 35%;
    float: left;
    clear: none;
  }
  .navigation {
    float: left;
    clear: right;
    list-style-type: none;
    margin: 20px 0px;
    padding: 5px 5px 0px;
    margin: 0px 10px;
    width: 40%;
    background: rgba(0,0,0,0);
    box-shadow: none;
  }
  .navigation li {
    display: block;
    padding: 0px;
    width: 32.6%;
    width: 50%;
  }
  .navigation li a {
    display: inline-block;
    color: #d5d5d5;
    margin: 0px 1%;
    width: 100%;
    height: inherit;
    padding: 5px 0px;
    text-align: center;
    background: #050505;
    border-radius: 3px;
    box-shadow: 0px 2px 3px rgba(0,0,0,.25), inset 0px 30px 60px -15px rgba(255,255,255,.1);
  }
  .navigation li a:hover {
    color: #eeffaa;
  }
  table {
    font-size: .75em;
  }

}


/* Larger than phablet */
@media (min-width: 750px) {

  .navigation {
    width: 60%;
  }
  section p {
    width: 75%;
  }
  table {
    font-size: 1em;
  }
  
}
/* Larger than desktop */
@media (min-width: 1000px) {
  
  .navigation {
    width: 60%;
  }
  table{
    width: 100%;
  }
  th {
    font-size: 1.25em;
  }
  table tr th,
  table tr td {
    width: 14%;
  }
}

